!!!
= render partial: 'layouts/user_registration_status_bar'
.single-main
  .single-content
    .single-content-top
      住所入力
    .single-content-main
      .s-content-main
      = form_for (users_url) do |f|
        .form__box-address
          .form-group
            %label{for:  "nickname"} お名前
            %span.form-require 必須
            = f.text_field :nickname, placeholder: "例) メルカリ", class: "input-address-name"
            = f.text_field :nickname, placeholder: "例) 太郎", class: "input-address-name-under"
        .form__box-address
          .form-group
            %label{for: "nickname"} お名前カナ
            %span.form-require 必須
            = f.text_field :nickname, placeholder: "例) メルカリ", class: "input-address-name"
            = f.text_field :nickname, placeholder: "例) タロウ", class: "input-address-name-under"
        .form__box-address
          .form-group
            %label{for: "nickname"} 郵便番号
            %span.form-require 必須
            = f.text_field :nickname, placeholder: "例) 123-4567", class: "input-default"
        .form__box-address
          .form-group
            %label{for: "nickname"} 都道府県
            %span.form-require 必須
            %select.input-default
              %option{selected:"selected"} ---
              -@regions.each do |region|
                %option{value: region.id} #{region.name}
        .form__box-address
          .form-group
            %label{for: "nickname"} 市区町村
            %span.form-require 必須
            = f.text_field :nickname, placeholder: "例) メルカリ町メルカリ区", class: "input-default"
        .form__box-address
          .form-group
            %label{for: "nickname"} 番地
            %span.form-require 必須
            = f.text_field :nickname, placeholder: "例) メルカリ5-1-1", class: "input-default"
        .form__box-address
          .form-group
            %label{for: "nickname"} 建物名
            %span.form-require-ninni 任意
            = f.text_field :nickname, placeholder: "例) メルカリ太郎", class: "input-default"
        .form__box-address
          .form-group
            %label{for: "nickname"} 電話番号
            %span.form-require-ninni 任意
            = f.text_field :nickname, placeholder: "例) メルカリ太郎", class: "input-default"
        .form-group
          = f.submit "次へ進む", class: "btn-default btn-red-address"
    .finished-footer-1
      = render partial: 'shared/footer4'