!!!
= render partial: 'layouts/user_registration_status_bar'
.single-main
  .single-content
    .single-content-top
      住所入力
    .single-content-main
      .s-content-main
      = fields_for :user_detail, UserDetail.new do |f|
        .form__box-address
          .form-group
            %label お名前
            %span.form-require 必須
            = f.text_field :family_name_kanji, placeholder: "例) メルカリ", class: "input-address-name"
            = f.text_field :first_name_kanji, placeholder: "例) 太郎", class: "input-address-name-under"
        .form__box-address
          .form-group
            %label お名前カナ
            %span.form-require 必須
            = f.text_field :family_name_kana, placeholder: "例) メルカリ", class: "input-address-name"
            = f.text_field :first_name_kana, placeholder: "例) タロウ", class: "input-address-name-under"
      = fields_for :address, Address.new do |i|
        .form__box-address
          .form-group
            %label 郵便番号
            %span.form-require 必須
            = i.text_field :address, placeholder: "例) 123-4567", class: "input-default"
        .form__box-address
          .form-group
            %label 都道府県
            %span.form-require 必須
            %select.input-default
              %option{selected:"selected"} ---
              -@regions.each do |region|
                %option{value: region.id} #{region.name}
        .form__box-address
          .form-group
            %label 市区町村
            %span.form-require 必須
            = i.text_field :address, placeholder: "例) メルカリ町メルカリ区", class: "input-default"
        .form__box-address
          .form-group
            %label 番地
            %span.form-require 必須
            = i.text_field :address, placeholder: "例) メルカリ5-1-1", class: "input-default"
        .form__box-address
          .form-group
            %label 建物名
            %span.form-require-ninni 任意
            = i.text_field :address, placeholder: "例) メルカリ太郎", class: "input-default"
        .form__box-address
          .form-group
            %label 電話番号
            %span.form-require-ninni 任意
            = i.text_field :address, placeholder: "例) メルカリ太郎", class: "input-default"
        .form-group
          -# = f.submit "次へ進む", class: "btn-default btn-red-address"
          = link_to credit_card_registration_user_path(current_user.id), {class: "btn-default btn-red-address", style: "display:block;text-align:center;"} do
            次へ進む

= render partial: '/shared/footers', locals: { categories: @categories }