/ここはヘッダー
.top-header
  .top-header__icon
    %a{ href:"https://www.mercari.com/jp/"}
      %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",:alt=>"Mercari",:class=>"top-header-logo"}
  .top-header__box
    .top-header__box__top
    %form{:action=>"",:class=>"form"}
      -# = form_with url: toppages_path do |f|
      -#   = f.text_field :content, class: 'form__serch', placeholder: '  何かお探しですか？'
      %input{:type=>"serch",:name=>"keyword",:class =>'form__serch', :placeholder =>'  何かお探しですか？'} 
        %a.button
          = icon"fas" ,"search"
          -# <i class="fas fa-search"></i>
          
.top-header__box__bottom
  %ul
    %li.lia 
      = icon"fas" ,"list-ul"
      カテゴリーから探す
      .lia-li レディース
      -# %ul
      -#   %li
      -#     kk
      .lia-li  メンズ
      .lia-li  ベビー・キッズ
      -# .lia-li  インテリア・住まい・小物
      -# .lia-li  本・音楽・ゲーム
      -# .lia-li  ハンドメイド
      -# .lia-li  チケット
      -# .lia-li  自動車・オートバイ
      -# .lia-li  その他
    %li.lic 
      %a.lic1{ href:""}
        = icon"fas" ,"tag"
        ブランドから探す
    %li.lib 
      %a.lic1{ href:""}
        = icon"far" ,"heart"
        いいね！一覧
    %li.lib 
      %a.lic1{ href:""}
        = icon"far" ,"bell"
        お知らせ
    %li.lib 
      %a.lic2{ href:""}
        = icon"fas" ,"check"
        やることリスト
    %li.lib 
      %a.lic1{ href:""}
        = icon"far" ,"circle"
        マイページ
.second-header
  .s-header
    .s-header-box
    メルカリ
    .s-header-box1
      =icon "fas","angle-right"
    .s-header-box2
    マイページ
.main-page
  .main-page_box
    .r-content
      .r-content-top
        .r-content-top-main
          .top-abata
            .top-image
            .top-name
            .top-hyouka
            .top-kazu
      .r-content-main
        .main-top
          .main-top-left
            .main-top-left1
            お知らせ
          .main-top-right
            .main-top-right
            やることリスト
        .main-tab
          .tab1
          .tab2
          .tab3
          .tab4
          .tab5
          .tab6
        .main-senter-tab
          .senter-header-tab
          .senter-main-tab
          .senter-footer-tab
    .l-content
      .l-content-box
        .l-box1
        .l-box2
        .l-box3
        .l-box4
        .l-box5
        .l-box6
        .l-box7
        .l-box8
        .l-box9
        .l-box10
        .l-box11
        .l-box12
        .l-box13
        .l-box14
      .l-merupei-box
        メルペイ
      .l-content-box2
        .l-box15
        .l-box16
      .l-settei-box
        設定
      .l-content-box3
        .l-box17
        .l-box18
        .l-box19
        .l-box20
        .l-box21
        .l-box22
        .l-box23
/////////////////////
//ここはボトムのビュー
.top-bottom-view
/////////////////////
//ここはフッター
.top-footer
  .top-footer__content
    %li.content__a
      メルカリについて
      %p 会社概要
      %p 採用情報
      %p プレスリリース
      %p 公式ブログ
      %p メルカリロゴ利用ガイドライン
    %li.content__b
      ヘルプ＆ガイド
      %p メルカリガイド
      %p らくらくメルカリ便
      %p ゆうゆうメルカリ便
      %p 大型メルカリ便
      %p 車体取引ガイド 
      %p メルカリあんしんあんぜん宣言！
      %p 偽ブランド品撲滅への取り組み
      %p メルカリボックス
    %li.content__c
      プライバシーと利用規約
      %p プライバシーポリシー
      %p メルカリ利用規約
      %p 安心スマホサポート制度に関<br>する利用規約
      %p コンプライアンスポリシー
    %li
      %p.content 個人データ安全管理に関わる基本<br>方針
      %p 特定商取引に関する表記
      %p 資金決済法に基づく表示
      %p 法令順守と犯罪防止のために
    %li.content__d
      国
      %p 日本
      %p United States
  .top-footer__bottom
    .top-footer__bottom__box
      %a.twitter-logo{ href:"https://twitter.com/mercari_jp"}
        
      %a.font-bottom{ href: "https://www.mercari.com/jp/"}
        %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", :alt=>"Mercari", :class=>"top-mercari_logo"}
      .font-bottom-icon
        
      %p ©2019 Mercari
//////////////////////////






