//ここはヘッダー
= render partial: '/shared/headers', locals: { categories: @categories }
///////////////////////
//ここはスライドショー
.top-view
  .slides
    .slider-image.active
      =link_to "#" do
        =image_tag "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2687693852"
    .slider-image
      = image_tag "https://mercarinews.files.wordpress.com/2018/10/mercari_blog-1.png"
    .slider-image
      .app_link
        .center
          %li.text1
            スマホでかんたん
          %li.text2
            フリマアプリ
          %li.text3
            テキストはスマホカメラからすぐに出品できる
          %li.text4
            購入時も安心な独自システムのアプリです
          %ul.img-box
            %li.img-btn1
              %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
            %li.img-btn2
              %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
          .img-btn3
            %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
    .slider-controller-left
      = fa_icon "angle-left"
    .slider-controller-right
      = fa_icon "angle-right"
    .slider-controller-bottom
      %span.dots.active
      %span.dots
      %span.dots
////////////////////////////////////////////////////////
///////////////////////////////////////////////////////
//ここはカテゴリメニュー
.top-category
  .top-category__a  人気のカテゴリー
  .top-category__b
    %ul.category0
      %li.category1
        %a.category2{ href: "#category-item__box"}
          レディース
      %li.category1
        %a.category2{ href: "#category-item__box2"}
          メンズ
      %li.category1
        %a.category2{ href: "#category-item__box3"}
          家電・スマホ・カメラ
      %li.category1
        %a.category2{ href: "#category-item__box4"}
          おもちゃ・ホビー・グッズ
///////////////////////
//ここはカテゴリーアイテム
.show-item
  #category-item__box.show-item__box
    .name-box
      .name
        レディース新着アイテム
      .details
        %a.lic{ href:""}
          もっと見る ＞
    .show-item__item
      -@item_ladies. each do |l|
        =render partial: "shared/show_item", locals: {item: l}
  #category-item__box2.show-item__box
    .name-box
      .name
        メンズ新着アイテム
      .details
        %a.lic{ href:""}
          もっと見る ＞ 
    .show-item__item
      -@item_mens. each do |m|
        =render partial: "shared/show_item", locals: {item: m}
  #category-item__box3.show-item__box
    .name-box
      .name
        家電・スマホ・カメラ新着アイテム
      .details
        %a.lic{ href:""} 
          もっと見る ＞ 
    .show-item__item
      -@item_appliances. each do |a|
        =render partial: "shared/show_item", locals: {item: a}
  #category-item__box4.show-item__box
    .name-box
      .name
        おもちゃ・ホビー・グッズ新着アイテム
      .details
        %a.lic{ href:""}
          もっと見る ＞ 
    .show-item__item
      -@item_toys. each do |t|
        =render partial: "shared/show_item", locals: {item: t}
//////////////////////////////////
//ここはブランドメニュー
.top-bland
  .top-bland__a  人気のブランド
  .top-bland__b
    %ul.bland0
      %li.bland1  
        %a.bland2{ href: "#bland-item__box"}
          シャネル
      %li.bland1  
        %a.bland2{ href: "#bland-item__box2"}
          ルイヴィトン
      %li.bland1
        %a.bland2{ href: "#bland-item__box3"}
          シュプリーム
      %li.bland1
        %a.bland2{ href: "#bland-item__box4"}
          ナイキ
/////////////////////
//ここはブランドのアイテム
.show-item
  #bland-item__box.show-item__box
    .show-item__box__syaneru
      .name-box
        .name
          シャネル新着アイテム
        .details
          %a.lic{ href:""}
            もっと見る ＞
    .show-item__item
      -@item_brand_chanel. each do |chanel|
        =render partial: "shared/show_item", locals: {item: chanel}
  #bland-item__box2.show-item__box
    .name-box
      .name
        ルイヴィトン新着アイテム
      .details
        %a.lic{ href:""}
          もっと見る ＞ 
    .show-item__item
      -@item_brand_lv. each do |lv|
        =render partial: "shared/show_item", locals: {item: lv}
  #bland-item__box3.show-item__box
    .name-box
      .name
        シュプリーム新着アイテム
      .details
        %a.lic{ href:""}
          もっと見る ＞ 
    .show-item__item
      -@item_brand_supreme. each do |supreme|
        =render partial: "shared/show_item", locals: {item: supreme}
  #bland-item__box4.show-item__box
    .name-box
      .name
        ナイキ新着アイテム
      .details
        %a.lic{ href:""}
          もっと見る ＞ 
    .show-item__item
      -@item_brand_nike. each do |nike|
        =render partial: "shared/show_item", locals: {item: nike}

/////////////////////
//ここはボトムのビュー
//ここはフッター
= render "shared/footer2"
