//ここはヘッダー
.top-header
  .top-header__icon
    = link_to root_path, class: "btn btn-dark btn-sm" do
      = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",alt:"Mercari",class:"top-header-logo"
  .top-header__box
    .top-header__box__top
    %form{:action=>"",:class=>"form"}
      -# = form_with url: toppages_path do |f|
      -#   = f.text_field :content, class: 'form__serch', placeholder: '  何かお探しですか？'
      %input{:type=>"serch",:name=>"keyword",:class =>'form__serch', :placeholder =>'  何かお探しですか？'} 
        = link_to root_path, class: "button" do
          = fa_icon "search"
////////////////////////////////////////////////////////
/////////////////////////////ここから
/////////////////////////////////////////////////////////          

//////////////////////////////////////
/////////////ここまで
////////////////////////////////////////////
.top-header__box__bottom2
  .top-header__box__bottom2__left
    .top-header__box__bottom2__left__category
      = fa_icon"list-ul"
      カテゴリーから探す
      %ul.top-header__box__bottom2__ul
        %li.lia
          - @categories.each do |category|
            - if category.parent_id == nil
              .lia-li        
                = category.name     
                %ul.second-layer
                  - @categories.each do |child|
                    - if child.parent_id == category.id
                      %li.second-menu  
                        = child.name
                        %ul.third-layer
                          - @categories.each do |baby|
                            - if baby.parent_id == child.id
                              %li.third-menu 
                                = baby.name
    .top-header__box__bottom2__left__bland
                      
      %li.bland-box  
        = link_to "#", class: "bland-text" do
          = fa_icon "tag"
          ブランドから探す
          .lic1-li  シャネル
          .lic1-li  ナイキ
          .lic1-li  ルイヴィトン
          .lic1-li  シュプリーム
          .lic1-li  アディダス
          .lic1-li  ブランド一覧
  - if user_signed_in?
    .top-header__box__bottom2__right
      .top-header__box__bottom2__right__like
        %li.like-box
          = link_to "#", class: "like-text" do
            = fa_icon"heart"
            いいね！一覧
      
      .top-header__box__bottom2__right__news
        %li.news-box
          .new-color-box
            お知らせ
            = link_to "#", class: "news-text" do
              = fa_icon "bell"
              %ul.news-lists
                .product-image
                  = image_tag ""
                .icon-right
                %li.news
                  %p.news__text
                    mikawaさんがあなたを評価しました。これで取引完了です。
                    %p.news__time
                      = fa_icon"clock-o"
                      30分前
      .top-header__box__bottom2__right__todo
        %li.todo-box
          = link_to "#", class: "todo-text" do
            = fa_icon"check"
            やることリスト
            .my-todo-box
              .my-todo-box__nothing
                現在やることリストはありません
      .top-header__box__bottom2__right__mypage
        %li.mypage-box
          .myfont-box
            .myfont-view
              = image_tag "",class:"logo"
            = link_to "#", class: "mypage-text" do
              マイページ
            %li.mypage-mini
              .mypage-mini__header
                = image_tag "",class:"logo2"
                .mypage-mini__image
              .mypage-mini__name
                %p.mypage__mini__name__top
                  mikat
                .hyouka
                  %p.hyouka1  評価：9
                  %p.hyouka2  出品数：9
              .money-box
                %p.money-box-1
                  売上金
                %p.money-box-2
                  ¥0
              .point-box
                %p.point-box-1
                  ポイント
                %p.point-box-2
                  P200
              .mini-mypage-bottom-top
                いいね！一覧
                .mini-mypage-bottom-top__b
                  = fa_icon "angle-right"
              .mini-mypage-bottom-bottom
                出品した商品 - 出品中
                = fa_icon "angle-right"
              .mini-mypage-bottom-bottom
                出品した商品 - 取引中
                = fa_icon "angle-right"
              .mini-mypage-bottom-bottom
                出品した商品 - 売却済み
                .mini-mypage-bottom-bottom__a
                  = fa_icon "angle-right"
              .mini-mypage-bottom-bottom
                購入した商品 - 取引中
                = fa_icon "angle-right" 
              .mini-mypage-bottom-bottom
                購入した商品 - 過去の取引
                = fa_icon "angle-right"
  - else
    .top-header__box__bottom2__right
      .top-header__box__bottom2__right__right
        = link_to new_user_path, class: "btn btn-dark btn-sm" do
          .new-user-btn
            新規会員登録
        = link_to new_user_session_path, class: "btn btn-dark btn-sm" do
          .user-login-ntn
            ログイン
      
///////////////////////
//ここはスライドショー

.top-view
  .slides
    %input{:type => "radio",:name => "images", :id => "i1" ,:checked => ""}
    %input{:type => "radio",:name => "images", :id => "i2"}
    %a#one.slider-image1{:href=>"https://www.mercari.com/jp/featured/camp/"}
      %label{:for => "i2", :class =>"pre"}
        = fa_icon "angle-left"
      %label{:for => "i2", :class =>"next"}
        = fa_icon "angle-right"
      %img{:src=>"//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2687693852", :alt=>"メルカリなら新品も中古もお得！キャンプ用品 大特集！"}
    #two.slider-image2
      %label{:for => "i1", :class =>"pre"}
        = fa_icon "angle-left"
      %label{:for => "i1", :class =>"next"}
        = fa_icon "angle-right"
      .center
        %li.text1
          スマホでかんたん
        %li.text2
          フリマアプリ
        %li.text3
          テキストはスマホカメラからすぐに出品できる
        %li.text4
          購入時も安心な独自システムのアプリです
        %ul.img-box
          %li.img-btn1
            %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
          %li.img-btn2
            %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
        .img-btn3
          %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
    .nav-slideshow
      %label{:for => "i1", :id => "dot1",:class =>"dots"}
      %label{:for => "i2", :id => "dot2",:class =>"dots"}
-# .carusell
-#   %ul.carucell-list
-#     %li.item
-#       %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
-#     %li.item
-#       %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
-#     %li.item
-#       %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}



  -# %input{:type => "radio",:name => "images", :id => "i1" ,:checked => ""}
  -# %input{:type => "radio",:name => "images", :id => "i2"}
  -# %a#one.slider-image1{:href=>"https://www.mercari.com/jp/featured/camp/"}
  -#   %label{:for => "i2", :class =>"pre"}
  -#     = fa_icon "angle-left"
  -#   %label{:for => "i2", :class =>"next"}
  -#     = fa_icon "angle-right"
  -#   %img{:src=>"//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?2687693852", :alt=>"メルカリなら新品も中古もお得！キャンプ用品 大特集！"}
  -# #two.slider-image2
  -#   %label{:for => "i1", :class =>"pre"}
  -#     = fa_icon "angle-left"
  -#   %label{:for => "i1", :class =>"next"}
  -#     = fa_icon "angle-right"
  -#   .center
  -#     %li.text1
  -#       スマホでかんたん
  -#     %li.text2
  -#       フリマアプリ
  -#     %li.text3
  -#       テキストはスマホカメラからすぐに出品できる
  -#     %li.text4
  -#       購入時も安心な独自システムのアプリです
  -#     %ul.img-box
  -#       %li.img-btn1
  -#         %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
  -#       %li.img-btn2
  -#         %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
  -#     .img-btn3
  -#       %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png"}
  -# .nav-slideshow
  -#   %label{:for => "i1", :id => "dot1",:class =>"dots"}
  -#   %label{:for => "i2", :id => "dot2",:class =>"dots"}


      
////////////////////////////////////////////////////////
///////////////////////////////////////////////////////
//ここはカテゴリメニュー
.top-category
  .top-category__a  人気のカテゴリー
  .top-category__b
    %ul.category0
      %li.category1
        %a.category2{ href: "#top-category-item__box"}
          レディース
      %li.category1
        %a.category2{ href: "#top-category-item__box2"}
          メンズ
      %li.category1
        %a.category2{ href: "#top-category-item__box3"}
          家電・スマホ・カメラ
      %li.category1
        %a.category2{ href: "#top-category-item__box4"}
          おもちゃ・ホビー・グッズ
///////////////////////
//ここはカテゴリーアイテム
.top-category-item
  #top-category-item__box.top-category-item__box
    .top-category-item__box__lady
      .lady-name-box
        .lady-name
          レディース新着アイテム
        .lady-details
          %a.lic{ href:""}
            もっと見る ＞
    .top-category-item__item
      -@item_ladies. each do |l|
        .top-category-item__item__box
          .top-category-item__item__box__bottom
            = l.name
  #top-category-item__box2.top-category-item__box2
    .mens-name-box
      .mens-name
        メンズ新着アイテム
      .mens-details
        %a.lic{ href:""}
          もっと見る ＞ 
    .top-category-item__item
      -@item_mens. each do |m|
        .top-category-item__item__box
          .top-category-item__item__box__bottom
            = m.name
  #top-category-item__box3.top-category-item__box3
    .kaden-name-box
      .kaden-name
        家電・スマホ・カメラ新着アイテム
      .kaden-details
        %a.lic{ href:""} 
          もっと見る ＞ 
    .top-category-item__item
      -@item_appliances. each do |a|
        .top-category-item__item__box
          .top-category-item__item__box__bottom
            = a.name


  #top-category-item__box4.top-category-item__box4
    .goods-name-box
      .goods-name
        おもちゃ・ホビー・グッズ新着アイテム
      .goods-details
        %a.lic{ href:""}
          もっと見る ＞ 
    .top-category-item__item
      -@item_toys. each do |t|
        .top-category-item__item__box
          .top-category-item__item__box__bottom
            = t.name
//////////////////////////////////
//ここはブランドメニュー
.top-bland
  .top-bland__a  人気のブランド
  .top-bland__b
    %ul.bland0
      %li.bland1  
        %a.bland2{ href: "#top-bland-item__box"}
          シャネル
      %li.bland1  
        %a.bland2{ href: "#top-bland-item__box2"}
          ルイヴィトン
      %li.bland1
        %a.bland2{ href: "#top-bland-item__box3"}
          シュプリーム
      %li.bland1
        %a.bland2{ href: "#top-bland-item__box4"}
          ナイキ
/////////////////////
//ここはブランドのアイテム
.top-bland-item
  #top-bland-item__box.top-bland-item__box
    .top-bland-item__box__syaneru
      .syaneru-name-box
        .syaneru-name
          シャネル新着アイテム
        .syaneru-details
          %a.lic{ href:""}
            もっと見る ＞
    .top-bland-item__item
      -@item_brand_chanel. each do |chanel|
        .top-bland-item__item__box
          .top-bland-item__item__box__bottom
            = chanel.name

      .top-bland-item__item__box
        .top-bland-item__item__box__bottom

  #top-bland-item__box2.top-bland-item__box2
    .ruiviton-name-box
      .ruiviton-name
        ルイヴィトン新着アイテム
      .ruiviton-details
        %a.lic{ href:""}
          もっと見る ＞ 
    .top-bland-item__item
      -@item_brand_lv. each do |lv|
        .top-bland-item__item__box
          .top-bland-item__item__box__bottom
            = lv.name

      .top-bland-item__item__box
        .top-bland-item__item__box__bottom
  
  #top-bland-item__box3.top-bland-item__box3
    .syupurimu-name-box
      .syupurimu-name
        シュプリーム新着アイテム
      .syupurimu-details
        %a.lic{ href:""}
          もっと見る ＞ 
    .top-bland-item__item
      -@item_brand_supreme. each do |supreme|
        .top-bland-item__item__box
          .top-bland-item__item__box__bottom
            = supreme.name

      .top-bland-item__item__box
        .top-bland-item__item__box__bottom

  #top-bland-item__box4.top-bland-item__box4
    .nike-name-box
      .nike-name
        ナイキ新着アイテム
      .nike-details
        %a.lic{ href:""}
          もっと見る ＞ 
    .top-bland-item__item
      -@item_brand_nike. each do |nike|
        .top-bland-item__item__box
          .top-bland-item__item__box__bottom
            = nike.name

/////////////////////
//ここはボトムのビュー
.top-bottom-view
  .top-bottom-view__left
    .top-bottom-view__left__text
      %p.text-a
        スマホで簡単フリマアプリ
      %p.text-b
        今すぐ無料ダウンロード!
      .text-c
        %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/mercari_icon-f75780e32e41e052c8aaa8b446331cd8.png"}
        %a{:href=>"https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8"}
          %img.b{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg"}
        %a{:href=>"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja"}
          %img.c{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg"}
      .text-d
    .top-bottom-view__left__image
      %img.bottom-image{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}
      -# %img.d{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png"}
/////////////////////
//ここはフッター
.top-footer
  .top-footer__content
    %li.content__a
      メルカリについて
      %p.a 会社概要
      %p 採用情報
      %p プレスリリース
      %p 公式ブログ
      %p メルカリロゴ利用ガイドライン
      %a.logo{:href=>"https://twitter.com/mercari_jp"}
        = fa_icon"twitter"
      %a.logo{:href=>"https://www.facebook.com/mercari_jp"}
        = fa_icon"facebook-square"
      -# %img.facebook{:src=>"https://msp.c.yimg.jp/yjimage?q=LzZRaocXyLG.GoDbUraI2fojmTdeHD8Pc.0EgRN5V_3yz0eETRKHJb5Bh0FRzX3spGWQGPFytFV5UHA5.4Hdv_yrVKmzmRqWHzE_59JmFzIzUn7SSAEZn9rJa5IpvZRBFSmeVoImxLp7_Wd_1w--&sig=138i2f161&x=227&y=222"}
    %li.content__b
      ヘルプ＆ガイド
      %p メルカリガイド
      %p らくらくメルカリ便
      %p ゆうゆうメルカリ便
      %p 大型メルカリ便
      %p 車体取引ガイド 
      %p メルカリあんしんあんぜん宣言！
      %p 偽ブランド品撲滅への取り組み
      %p メルカリボックス
    %li.content__c
      プライバシーと利用規約
      %p プライバシーポリシー
      %p メルカリ利用規約
      %p 安心スマホサポート制度に関<br>する利用規約
      %p コンプライアンスポリシー
    %li
      %p.content 個人データ安全管理に関わる基本<br>方針
      %p 特定商取引に関する表記
      %p 資金決済法に基づく表示
      %p 法令順守と犯罪防止のために
    %li.content__d
      国
      %p 日本
      %p United States
  .top-footer__bottom
    .top-footer__bottom__box
      %a.twitter-logo{ href:"https://twitter.com/mercari_jp"}
        
      %a.font-bottom{ href: "https://www.mercari.com/jp/"}
        %img{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg", :alt=>"Mercari", :class=>"top-mercari_logo"}
      .font-bottom-icon
        
      %p ©2019 Mercari
//////////////////////////

///////////////////出品ボタン
.button-box
  %li.text 出品
  %li.camera