.item-buypage-header
  .item-buypage-header__box
    = link_to root_path, class: "merukari" do
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2687693852", alt:"mercari", class:"merukari"
.item-buypage-main
  .item-buypage-main__center
    .item-buypage-main__center__header
      購入内容の確認
    .item-buypage-main__center__main
      .item-buypage-main__center__main__goods
        %li.e
          = image_tag image_url(@item.item_images[0].image.url)
        %li.d
          =@item.name
      .item-buypage-main__center__main__price
        %li.c
          ¥#{@item.price}円
        %li.d
          送料込み
      .item-buypage-main__center__main__point
        ポイントを使う
        =fa_icon "angle-down"
        %ul.first
          %li.text1
            所持ポイント:P202
          %li.text2
            ポイントを使わない
          %li.text3
            すべてのポイントを使う
          %li.text4
            一部のポイントを使う
          %li.text5
            使うポイントを入力
      .item-buypage-main__center__main__buy-price
        %li.a
          支払い金額
        %li.b
          ¥#{@item.price}円
      .item-buypage-main__center__main__buy-info
        配送先と支払い方法の入力を完了してください。
      .buy-page
        = form_tag(action: :purchase, method: :post) do
          %script.payjp-button{"data-key" => "#{Rails.application.credentials.PAYJP_SECRET_KEY}", :src => "https://checkout.pay.jp", :type => "text/javascript"}
      .item-buypage-main__center__main__haisou
        %p.a
          配送先
        %p.b
          〒544-0000
        %p.b
          大阪市生野区新今里7-17-2
        %p.b
          美河吉秀
      .item-buypage-main__center__main__change1
        変更する
        =fa_icon "angle-right"
      .item-buypage-main__center__main__method
        支払い方法
      %p
        
      .item-buypage-main__center__main__change2
        変更する
        =fa_icon "angle-right"
= render partial: '/shared/footers', locals: { categories: @categories }
