!!!
= render partial: 'shared/header2'

%script{:language => "JavaScript"}

%main.main
  .post-item-title 商品の情報を入力
  %section.contents

  = form_for @item do |f|
    .form-group-box
      %label{:for => "item_img"} 出品画像
      %span.form-require 必須
      %p 最大10枚までアップロードできます
      #drop_zone 
        - @item.item_images.each do |image|
          .image-box
            .image
              =image_tag(image.image.url,data: image.id)
            .bottom
              .edit
                編集
              .delete
                =link_to("削除","/users/#{current_user.id}/items/#{@item.id}/destroy2", method: :delete) 
                  
        #text
          ドラッグ・アンドロップ
          <br>
          またはクリックしてファイルをアップロード
      %output#list
        = f.fields_for :item_images do |item_image|
          = item_image.file_field :image
      .delete_btn{height:"30px", width:"50px",color:"red"}
        sakujo
        -# = f.file_field :image, :multiple => true

      %div.sell-contents
        %label{:for => "name"} 商品名
        %span.form-require 必須
        = f.text_field :name, placeholder: "商品名  (必須 40文字まで)", type: "text", value: @item.name ,class:"input-default"
        %br
        %label{:for => "explain"} 商品の説明
        %span.form-require 必須
        = f.text_area :explain, placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",size:"100×10", type: "text", value: @item.explain,class:"input-default-datail"

        %h3.each-head 商品の詳細
        %label{for: "category"} カテゴリー
        %span.form-require 必須
        %br
        
      .category_select_box
        %select.category_select{name: "category_select"}
          -@categories. each do |category|
            -if  @item.category.parent.parent.name == category.name
              %option{selected: "selected", value: category.id} #{category.name}
            -else
              %option{value: category.id} #{category.name}
        %select.category_select{name: "category_select"} 
          -@item.category.parent.parent.categories. each do |category|
            -if  @item.category.parent.name == category.name
              %option{selected: "selected",value: category.id} #{category.name}
            -else
              %option{value: category.id} #{category.name}
        %select.category_select{name: "item[category_id]"}
          -@item.category.parent.categories. each do |category|
            -if  @item.category.name == category.name
              %option{selected: "selected",value: category.id} #{category.name}
            -else
              %option{value: category.id} #{category.name}
              
      %div.sell-contents
      %label{for: "size"} サイズ
      %span.form-require 必須
      = f.select :size, class:"select-default", class:"jj" do
        %option{selected:"selected",value:@item.size} #{@item.size}
        %option{value: "under_xxs"} XXS以下
        %option{value: "xs_ss"} XS(SS)
        %option{value: "S"} S
        %option{value: "M"} M
        %option{value: "L"} L
        %option{value: "XL(LL)"} XL(LL)
        %option{value: "2XL(3L)"} 2XL(3L)
        %option{value: "3XL(4L)"} 3XL(4L)
        %option{value: "4XL(5L)以上"} 4XL(5L)以上
        %option{value: "FREE SIZE"} FREE SIZE

      %label{for: "brand"} ブランド
      %span.form-yourself 任意
      = f.text_field :brandname , class:"input-default",placeholder:"例）シャネル",type: "text"
      %label{for: "item_status"} 商品の状態
      %span.form-require 必須
      = f.select :item_status do
        %option{selected:"selected"} #{@item.brandname}
        %option{value: "新品、未使用"} 新品、未使用
        %option{value: "未使用に近い"} 未使用に近い
        %option{value: "目立った傷や汚れなし"} 目立った傷や汚れなし
        %option{value: "やや傷や汚れあり"} やや傷や汚れあり
        %option{value: "傷や汚れあり"} 傷や汚れあり
        %option{value: "全体的に状態が悪い"} 全体的に状態が悪い

      %h3.each-head 配送について
      %label{for: "shippin_fee"} 配送料の負担
      %span.form-require 必須
      = f.select :shipping_fee do
        %option{selected:"selected"} #{@item.shipping_fee}
        %option{value: "送料込み(出品者負担)"} 送料込み(出品者負担)
        %option{value: "着払い(購入者負担)"} 着払い(購入者負担)


      %br
      %label{for: "from_where"} 発送元の地域
      %span.form-require 必須
      = f.select :region_id, class:"from_where"do
        %option{selected:"selected",value:@item.region.id} #{@item.region.name}
        -@regions. each do |region|
          %option{value: region.id} #{region.name}


      %br
      %label{for: "how_many_days"} 発送までの日数
      %span.form-require 必須
      = f.select :days do
        %option{selected:"selected"} #{@item.days}
        %option{value: "1〜2日で発送"} 1〜2日で発送
        %option{value: "2〜3日で発送"} 2〜3日で発送
        %option{value: "4〜7日で発送"} 4〜7日で発送

      -# %div.sell-contents
      %h3.each-head 販売価格(300〜9,999,999)
      %label{for: "price", placeholder: "例)300"} 価格
      %span.form-require 必須
      = f.text_field :price ,value: @item.price,class:"price-field"
      
      %a{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"} 禁止されている出品、
      %a{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"} 行為
      %p を必ずご確認ください。
      %p またブランド品でシリアルナンバー等がある場合はご記載ください。
      %a{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"} 偽ブランドの販売
      %p は犯罪であり処罰される可能性があります。
      %p また、出品をもちまして
      %a{:href => "/jp/seller_terms/"} 加盟店規約
      %p に同意したことになります。

      .form-post
      = f.submit class:"form-post",value:"更新するする"
    
      .form-back
        = link_to 'もどる', :back ,class:"form-back"
        -# %button.form-back もどる
= render partial: '/shared/footers', locals: { categories: @categories }