!!!
= render partial: 'layouts/user_registration_status_bar'

%main.main
  %section.contents
    .post-item-title 商品の情報を入力


  %form.sell-form
    %div.sell-content

      %div.category-box

        %label{for: "category"} カテゴリー
        %span.form-require 必須

        %select.category_select{name: "category"}
          %option{selected:"selected"} ---
          -@categories. each do |category|
            %option{value: category.id} #{category.name}

        %select.category_select.hidden{name: "category"}
          %option{selected:"selected"} ---
          -# -@categories. each do |category|
          -#   %option{value: category.id} #{category.name}
          %option{selected:"selected"} ---


        %select.category_select.hidden{name: "add_category"}
          %option{selected:"selected"} ---
          %option{selected:"selected"} ---
          -# -@categories. each do |category|
          -#   %option{value: category.id} #{category.name}
          
        
        %label{for: "size"} サイズ
        %span.form-require 必須

        %select.category_select{name: "category"}
          %option{selected:"selected"} ---
          -@categories. each do |category|
            %option{value: category.id} #{category.name}






  
    -# %option{value: "mens"} メンズ
    -# %option{value: "baby"} ベビー・キッズ
    -# %option{value: "furniture"} インテリア・住まい・小物
    -# %option{value: "book"} 本・音楽・ゲーム
    -# %option{value: "toy"} おもちゃ・ホビー・グッズ
    -# %option{value: "cosmetic"} コスメ・香水・美容
    -# %option{value: "appliance"} 家電・スマホ・カメラ
    -# %option{value: "sport"} スポーツ・レジャー
    -# %option{value: "handmade"} ハンドメイド
    -# %option{value: "ticket"} チケット
    -# %option{value: "vehicle"} 自動車・オートバイ
    -# %option{value: "other"} その他






  .form-group
    %label{:for => "email"} メールアドレス
    %span.form-require 必須
    %input.input-default{:name => "email", :placeholder => "PC・携帯どちらでも可", :type => "email", :value => ""}/
  %input{:name => "login_type", :type => "hidden", :value => ""}/



