.shyouhin-main
  = render partial: '/shared/headers', locals: { categories: @categories }
  //////////商品の説明/////////////
  .shyouhin-box
    .item-name フェイスブック
    .item-main-content
      .item-photo
        .item-photo-main
          .item-suraido
          .item-suraido1
          .item-suraido2
        .item-table
          .table-body1
          .table-body2
          .table-body3
          .table-body4
          .table-body5
          .table-body6
      .item-category
        .category-box
          .category1
            .category1-box
              .category-box-name
                出品者
            .category1-box1
              .category1-box1-name
                = link_to "#", class:"hover9" do
                  マークザッカーバーグ
              .category2-box2
                = fa_icon "smile-o"
                413
              .category3-box3
                = fa_icon "meh-o"
                40
              .category3-box3
                = fa_icon "frown-o"
                1
          .category1-1
            .category1-box-1
              .category-box-name-1
                カテゴリー
            .category1-box1-1
              .category1-box1-name-1
                = link_to "#", class:"hover9" do
                  メンズ
              .category2-box2-1
                = fa_icon "angle-right"
                = link_to "#", class:"hover9" do
                  会社
              .category3-box3-1
                = fa_icon "angle-right"
                = link_to "#", class:"hover9" do 
                  IT企業
          .category1-2
            .category1-box-2
              .category-box-name-2
                ブランド
            .category1-box1-2
              .category1-box1-name-2
                = link_to "#", class:"hover9" do
                  フェイスブック
          .category1-2
            .category1-box-2
              .category-box-name-2
                商品状態
            .category1-box1-2
              .category1-box1-name-2
                成長企業
          .category1-2
            .category1-box-2
              .category-box-name-2
                配送料の負担
            .category1-box1-2
              .category1-box1-name-2
                送料込み（出品者負担）
          .category1-2
            .category1-box-2
              .category-box-name-2
                配送方法
            .category1-box1-2
              .category1-box1-name-2
                らくらくメルカリ便
          .category1-2
            .category1-box-2
              .category-box-name-2
                発送元地域
            .category1-box1-2
              .category1-box1-name-2
                = link_to "#", class:"hover9" do
                  シリコンバレー
          .category1-2
            .category1-box-2
              .category-box-name-2
                発送日の目安
            .category1-box1-2
              .category1-box1-name-2
                ３ヶ月
    .item-price
      .price-name
        ￥10,000,000,000
      .price-tax
        (税込)
      .price-free
        送料込み
    .item-buy
      購入画面に進む
    .item-setumei
      Facebookは、2004年2月、設立しました。
      FacebookやInstagramなどがあります。
      現在ではLibraという仮想通貨を運用する予定で準備を進めている。
      社員は優秀な人も多くいます。
      質問はお手軽にどうぞ
    .item-hyouka
      .item-hyouka-left
        .item-iine
          .hyouka-hato
            = fa_icon "heart-o"
          .hyouka-iine
            いいね
          .hyouka-kazu
            10
        .item-iine-1
          .hyouka-hata
            = fa_icon "flag-o" 
          .item-houkoku
            不適切な商品の報告
      .item-hyouka-right
        .item-icon
          =fa_icon "lock"
        .item-span
          = link_to "#", class:"hover8" do
            あんしん・あんぜんへの取り組み
        /////////////コメント欄//////////////////////////
  .item-message
    .message-box
      .message-box-content
        .message-form
          .message-setumei
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .message-text
          .message-coment
            .message-coment-text
              コメントする
              /////////////ソーシャルメデイアログイン///////////////////
  .item-link
    .link-left
      .link-icon
        = fa_icon "angle-left"
      .link-box
        = link_to "#", class:"hover9" do
          Amazon
    .link-right
      .link-icon-1
        = fa_icon "angle-right"
      .link-box-1
        = link_to "#", class:"hover9" do
          Google
  .item-media
    .media-top
      .social-left
        = fa_icon "facebook-official"
      .social-main
        = fa_icon "twitter-square"
      .social-right
        = fa_icon "pinterest-square"
        /////////////その他の出品////////////////////////
  .item-user-profile
    .user-item-top
      = link_to "#", class:"hover9" do
        マークザッカーバーグのその他の出品
    .user-item-content
      .user-item-box
        .items-box
          .items-imag
          .items-text
            .items-text-name
              マークが書いた絵
            .items-text-name1
              .items-text-price
                ¥2,000,000
              .items-math
                1
              .items-heart
                = fa_icon "heart-o"
        .items-box-1
          .items-imag-1
          .items-text-1
            .items-text-name-1
              マークが書いた絵
            .items-text-name1-1
              .items-text-price-1
                ¥2,000,000
              .items-math-1
                1
              .items-heart-1
                = fa_icon "heart-o"
        .items-box-2
          .items-imag-2
          .items-text-2
            .items-text-name-2
              マークが書いた絵
            .items-text-name1-2
              .items-text-price-2
                ¥2,000,000
              .items-math-2
                1
              .items-heart-2
                = fa_icon "heart-o"
        .items-box-3
          .items-imag-3
          .items-text-3
            .items-text-name-3
              マークが書いた絵
            .items-text-name1-3
              .items-text-price-3
                ¥2,000,000
              .items-math-3
                1
              .items-heart-3
                = fa_icon "heart-o"
        .items-box-4
          .items-imag-4
          .items-text-4
            .items-text-name-4
              マークが書いた絵
            .items-text-name1-4
              .items-text-price-4
                ¥2,000,000
              .items-math-4
                1
              .items-heart-4
                = fa_icon "heart-o"
        .items-box-5
          .items-imag-5
          .items-text-5
            .items-text-name-5
              マークが書いた絵
            .items-text-name1-5
              .items-text-price-5
                ¥2,000,000
              .items-math-5
                1
              .items-heart-5
                = fa_icon "heart-o"
                //////////////そのほかの出品パート２////////////////////////
    .item-user-profile-2
      .user-item-top-2
        %a.hover9{:href => "#"}  マークザッカーバーグのその他の出品
      .user-item-content-2
        .user-item-box-2
          .items-box-2x
            .items-imag-2x
            .items-text-2x
              .items-text-name-2x
                マークが書いた絵
              .items-text-name1-2x
                .items-text-price-2x
                  ¥2,000,000
                .items-math-2x
                  1
                .items-heart-2x
                  = fa_icon "heart-o"
          .items-box-1-2
            .items-imag-1-2
            .items-text-1-2
              .items-text-name-1-2
                マークが書いた絵
              .items-text-name1-1-2
                .items-text-price-1-2
                  ¥2,000,000
                .items-math-1-2
                  1
                .items-heart-1-2
                  = fa_icon "heart-o"
          .items-box-2-2
            .items-imag-2-2
            .items-text-2-2
              .items-text-name-2-2
                マークが書いた絵
              .items-text-name1-2-2
                .items-text-price-2-2
                  ¥2,000,000
                .items-math-2-2
                  1
                .items-heart-2-2
                  = fa_icon "heart-o"
          .items-box-3-2
            .items-imag-3-2
            .items-text-3-2
              .items-text-name-3-2
                マークが書いた絵
              .items-text-name1-3-2
                .items-text-price-3-2
                  ¥2,000,000
                .items-math-3-2
                  1
                .items-heart-3-2
                  = fa_icon "heart-o"
          .items-box-4-2
            .items-imag-4-2
            .items-text-4-2
              .items-text-name-4-2
                マークが書いた絵
              .items-text-name1-4-2
                .items-text-price-4-2
                  ¥2,000,000
                .items-math-4-2
                  1
                .items-heart-4-2
                  = fa_icon "heart-o"
          .items-box-5-2
            .items-imag-5-2
            .items-text-5-2
              .items-text-name-5-2
                マークが書いた絵
              .items-text-name1-5-2
                .items-text-price-5-2
                  ¥2,000,000
                .items-math-5-2
                  1
                .items-heart-5-2
                  = fa_icon "heart-o"
                  ///////////詳細のフッター////////////////////////
  .item-second-footer
    .item-footer-main
      .item-footer-name
        メルカリ
        .item-footer-icon
          = fa_icon "angle-right"
      .item-footer-syousai
        facebook
  = render partial: '/shared/footer2'



