.shyouhin-main
  = render partial: '/shared/headers'
  //////////商品の説明/////////////
  .shyouhin-box
    .item-name
      #{@item.name}

    .item-main-content

      .item-photo
        .item-photo-main
          -@item.item_images.each do |image|
            .item-photo-main__image
              = image_tag image.image.url

        .photo-slide
          -@item.item_images.each do |image|
            = image_tag image.image.url

      %table.item-category
        %th.user-name
          出品者
        %th.user-name-review
          = link_to "#" do
            =@item.user.nickname
            .face
              .smile
                = fa_icon "smile-o"
                413
              .usual
                = fa_icon "meh-o"
                40
              .tired
                = fa_icon "frown-o"
                1
          %tr
            %td.user-name
              カテゴリー
            %td.parent-parent-name
              = link_to "#", class:"hover9" do
                = @item.category.parent.parent.name
                = fa_icon "angle-right"
              = link_to "#", class:"hover9" do
                = @item.category.parent.name
                = fa_icon "angle-right"
              = link_to "#", class:"hover9" do 
                = @item.category.name
          %tr
            %th.brand-to-days
              ブランド
            %th.rightside-brand-to-days
              = @item.brand.name
          %tr
            %th.brand-to-days
              商品状態
            %th.rightside-brand-to-days
              =@item.item_status
          %tr
            %th.brand-to-days
              配送料の負担
            %th.rightside-brand-to-days
              = @item.shipping_fee
          %tr
            %th.brand-to-days
              配送方法
            %th.rightside-brand-to-days
              = @item.shipping_way
          %tr
            %th.brand-to-days
              発送元地域
            %th.rightside-brand-to-days
              = link_to "#" do
                %option{value: @item.id} #{@item.region.name}
          %tr
            %th.brand-to-days
              発送日の目安
            %th.rightside-brand-to-days
              %option{value: @item.id} #{@item.days}

    .item-price
      .price-name
        ¥ #{@item.price.to_s(:delimited)}
      .price-tax
        (税込)
      .price-free
        送料込み
    -unless user_signed_in? && current_user.id == @item.user.id
      .item-buy
        = link_to new_item_deal_path(current_user.id) do
          購入画面に進む
    .item-setumei
      %p{value: @item.id} #{@item.explain}
    .item-hyouka
      .item-hyouka-left
        .item-iine
          .hyouka-hato
            = fa_icon "heart-o"
          .hyouka-iine
            いいね
          .hyouka-kazu
            10
        .item-iine-1
          .hyouka-hata
            = fa_icon "flag-o" 
          .item-houkoku
            不適切な商品の報告
      .item-hyouka-right
        .item-icon
          =fa_icon "lock"
        .item-span
          = link_to "#", class:"hover8" do
            あんしん・あんぜんへの取り組み
        /////////////コメント欄//////////////////////////
  -if user_signed_in? && current_user.id == @item.user.id
    .item-message
      .message-box
        .message-box-content
          = link_to edit_user_item_path(current_user.id, @item.id), class: "input-default btn red" do
            商品の編集
          %p or
          %button.input-default.btn.grey#item-delete-modal-on この商品を削除する
        .modal#item-delete-modal
          .modal-banner
            .modal-banner__body
              .modal-title
                確認
              削除すると二度と復活できません。<br>削除する代わりに停止することもできます。<br><br>本当に削除しますか？
            .modal-banner__bottom
              %a.modal-button
                キャンセル
              =link_to item_path(@item.id), method: :delete, class: "modal-button" do
                削除する
  .item-message
    .message-box
      .message-box-content
        .message-form
          .message-setumei
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          .message-text
          .message-coment
            .message-coment-text
              コメントする
              /////////////ソーシャルメデイアログイン///////////////////
  -unless user_signed_in? && current_user.id == @item.user.id
    .item-link
      .link-left
        .link-icon
          = fa_icon "angle-left"
        .link-box
          = link_to "#", class:"hover9" do
            Amazon
      .link-right
        .link-icon-1
          = fa_icon "angle-right"
        .link-box-1
          = link_to "#", class:"hover9" do
            Google
    .item-media
      .media-top
        .social-left
          = fa_icon "facebook-official"
        .social-center
          = fa_icon "twitter-square"
        .social-right
          = fa_icon "pinterest-square"

          /////////////その他の出品////////////////////////
    .item-user-profile
      = link_to "#", class:"hover9" do
        =@item.user.nickname
        %p のその他の出品
      .user-item-content
        .user-item-box
          -@item.user.items.each_with_index do |item, index|
            -if (index+1)%3 == 0
              .items-box-3
                .items-img-3
                  = image_tag item.item_images[0].image.url
                .items-text-3
                  .items-text-name-3
                    = item.name
                  .items-text-name1-3
                    .items-text-price-3
                      ¥2,000,000
                    .items-math-3
                      1
                    .items-heart-3
                      = fa_icon "heart-o"
            -else
              .items-box
                .items-img
                  = image_tag item.item_images[0].image.url
                .items-text
                  .items-text-name
                    = item.name
                  .items-text-name1
                    .items-text-price
                      ¥2,000,000
                    .items-math
                      1
                    .items-heart
                      = fa_icon "heart-o"
            -if index == 5
              -break
            //////////////そのほかの出品パート２////////////////////////

      .item-user-profile
        = link_to "#", class:"hover9" do
          同じカテゴリーのその他の出品
      .user-item-content
        .user-item-box
          -@item.user.items.each_with_index do |item, index|
            -if (index+1)%3 == 0
              .items-box-3
                .items-img-3
                  = image_tag item.item_images[0].image.url
                .items-text-3
                  .items-text-name-3
                    = item.name
                  .items-text-name1-3
                    .items-text-price-3
                      ¥2,000,000
                    .items-math-3
                      1
                    .items-heart-3
                      = fa_icon "heart-o"
            -else
              .items-box
                .items-img
                  = image_tag item.item_images[0].image.url
                .items-text
                  .items-text-name
                    = item.name
                  .items-text-name1
                    .items-text-price
                      ¥2,000,000
                    .items-math
                      1
                    .items-heart
                      = fa_icon "heart-o"
            -if index == 5
              -break

  ///////////詳細のフッター////////////////////////

  .item-second-footer
    .item-footer-main
      .item-footer-name
        メルカリ
        .item-footer-icon
          = fa_icon "angle-right"
.item-footer-syousai
  = render partial: '/shared/footer2'